.dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.filter + .filter {
  margin-left: 20px;
  margin-right: -70px;
}

.filter label {
  margin-bottom: 8px;
  font-weight: bold;
}

.datePickers {
  display: flex;
  gap: 10px;
}

.chartRow {
  display: flex;
  flex-direction: row; /* Changed from column to row */
  justify-content: space-between;
  gap: 20px;
}

.chartContainer {
  flex: 1;
  padding: 20px; /* Optional: Add padding for spacing */
}

.chartContainer canvas {
  width: 100% !important; /* Ensures the canvas takes full width */
  height: 400px; /* Adjust the height as needed */
}


.submitButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 28px;
  font-weight: bold;
}

.submitButton.small {
  padding: 6px 12px;
  font-size: 14px;
}
