.searchUserContainer {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchBar {
  position: sticky; /* Fix the search bar */
  top: 0; /* Position it at the top */
  z-index: 1000; /* Ensure it stays above other content */
  width: 100%; /* Take up full width */
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px; /* Add margin at the bottom to separate from user cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchBar svg {
  margin-right: 8px;
  color: #757575;
}

.searchField {
  flex: 1;
}

.userCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between user cards */
}

.userCard {
  flex: 1 1 calc(50% - 20px); /* Adjust width to fit two cards per row */
  max-width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.userCard:hover {
  transform: translateY(-4px);
}

.viewDetailsButton {
  background-color: #1976d2;
  color: #ffffff;
}

.viewDetailsButton:hover {
  background-color: #1565c0;
}

.dialogTitle {
  background-color: #1976d2;
  color: #ffffff;
}

.dialogContent {
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Ensures items are spaced apart */
}

.dialogContentLeft {
  flex: 1;
}

.dialogContentRight {
  flex: 2; /* Increased width for the right side */
}

.dialogContent p {
  margin: 8px 0;
}
