.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px; /* Add padding to the left */
  padding-right: 20px; /* Add padding to the right */
}

.filter {
  display: flex;
  flex-direction: column;
  width: calc(30% -30px); /* Adjust width to account for padding */
  padding-top: 2%;
}

.filter + .filter {
  margin-left: 20px;
  margin-right: 20px; /* Ensure spacing between filters */
}

.filter label {
  margin-bottom: 8px;
  font-weight: bold;
}

.datePickers {
  display: flex;
  gap: 10px;
}

.submitButton {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 28px;
  font-weight: bold;
}

.submitButton.small {
  padding: 6px 13px;
  font-size: 18px;
}
