.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  gap: 20px;
  background-color: #87CEEB; /* Set the background color to skyblue */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  margin-top: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  width: calc(20% - 5px); /* Adjust width to account for padding */
  padding-top: 2%;
}

.filter + .filter {
  margin-left: 20px;
  margin-right: -90px; /* Ensure spacing between filters */
}

.filter label {
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size:20px;
  font-family: sans-serif;
}

.datePickers {
  display: flex;
  gap: 10px;
}

.submitButton {
  padding: 8px 15px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 60px;
  font-weight: bold;
}

.submitButton.small {
  padding: 6px 13px;
  font-size: 18px;
}
